.scrollWatcher {
  height: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background-color: #305165;
  width: 100%;
  scale: 0 1;
  transform-origin: left;

  animation: scrollWatcher linear;
  animation-timeline: scroll(y);
}

@keyframes scrollWatcher {
  to {
    scale: 1 1;
  }
}
